<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP-START -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- BOOTSTRAP-END -->

    <!-- FONTAWESOME CDN START -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- FONTAWESOME CDN END -->

    <!-- CUSTOM CSS STYLES START -->
    <link rel="stylesheet" href="../style.css">
    <!-- CUSTOM CSS STYLES END -->

    <title>Blog_Application</title>
</head>

<body>
    <div class="bgImg bg-light">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <div class="container">
                <a href="" class="navbar-brand text-warning font-weight-bold">SOHAN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center " id="collapsenavbar">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">REGISTRATION</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-white">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-center text-white text-container">
            <h2>Welcome To Our Blog Application!</h2>
            <h1>IT's NICE TO MEET YOU</h1>
            <button class="btn btn-warning text-white btn-lg">SUBSCRIBE</button>
        </div>
    </div>

    <!-- MY SERVICES START -->
    <section class="container text-center ourservices">
        <h1>SERVICES</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div class="row service-container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="d-block m-auto imgSize">
                    <i class="fas fa-bookmark"></i>
                </div>
                <h2 class="img-title">Book Mark</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deserunt labore
                    quod consequuntur
                    obcaecati itaque adipisci corporis temporibus vel necessitatibus?</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="d-block m-auto imgSize">
                    <i class="fas fa-book-reader"></i>
                </div>
                <h2 class="img-title">Book Reader</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deserunt labore
                    quod consequuntur
                    obcaecati itaque adipisci corporis temporibus vel necessitatibus?</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="d-block m-auto imgSize">
                    <i class="fas fa-lock"></i>
                </div>
                <h2 class="img-title">Security</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deserunt labore
                    quod consequuntur
                    obcaecati itaque adipisci corporis temporibus vel necessitatibus?</p>
            </div>
        </div>
    </section>
    <!-- MY SERVICES END -->


    <!-- MY PROJECTS START -->
    <section class="projects bg-light">
        <div class="container text-center">
            <h1>BLOG</h1>
            <p>Lorem ipsum dolor, sit amet consectetur</p>

            <div class="row">

            </div>
        </div>
    </section>
    <!-- MY PROJECTS END -->
    <div class="row">
        <% blogs.forEach(blog=>{%>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 d-block m-auto">
                <div class="card">
                    <img class="card-img img-fluid" src="https://i.postimg.cc/qR002B2p/bg.jpg" alt="">
                    <div class="card-body">
                        <h2 class="card-title">
                            <%= blog.title %>
                        </h2>
                        <p class="card-text">
                            <%= blog.description %>
                        </p>
                        <p>
                            AUTHOR:<%= blog.author %>
                        </p>
                        <p> <small class="text-muted">
                                Created At: <%= blog.createdAt.toLocaleDateString() %>
                            </small>
                        </p>
                        <a href="/blog/edit/<%=blog.id%>" class="btn btn-warning">Edit</a>
                        <a href="/blog/delete/<%=blog.id%>" class="btn btn-danger">Delete</a>
                        <button class="btn btn-info">Read Blog</button>
                    </div>
                </div>
            </div>
            <%})%>
    </div>


    <!-- OUR TEAM START -->
    <section class="ourteam">
        <div class="container text-center">
            <h1>OUR AMAZING TEAM</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded-circle" height="250px" width="250px"
                            src="https://i.postimg.cc/qR002B2p/bg.jpg" alt="">
                        <figcaption>
                            <h4 class="figure-title">SOHAN</h4>
                            <p class="figure-caption">Lorem ipsum dolor sit.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded-circle" height="250px" width="250px"
                            src="https://i.postimg.cc/qR002B2p/bg.jpg" alt="">
                        <figcaption>
                            <h4 class="figure-title">SOHAN</h4>
                            <p class="figure-caption">Lorem ipsum dolor sit.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded-circle" height="250px" width="250px"
                            src="https://i.postimg.cc/qR002B2p/bg.jpg" alt="">
                        <figcaption>
                            <h4 class="figure-title">SOHAN</h4>
                            <p class="figure-caption">Lorem ipsum dolor sit.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- OUR TEAM END -->



    <!-- FOOTER SECTION START -->

    <footer>
        <P class="text-center text-muted">Copyright @2021, Design By MOHAMMAD SOHAN HOSSAIN</P>
    </footer>

    <!-- FOOTER SECTION END -->







    <!-- BOOTSTRAP-JAVASCRIPT-START -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP-JAVASCRIPT-END -->



</body>

</html>